.App {
  margin: 2em;
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color:white;
  color: #aaa;
}

.App-link {
  color: #61dafb;
}

.roster {
  margin-bottom: 3em;
}